{% extends "base.html" %}
{% block app_title %}Notification{% endblock %}

{% block main_content %}

<div style="margin-top: 65px;" class="container-fluid w-50 py-3">
    
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                {% if category == 'error' %}
                    <div class="alert alert-danger alter-dismissable fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close float-end" data-bs-dismiss="alert"></button>
                    </div>
                {% else %}
                    <div class="alert alert-success alter-dismissable fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close float-end" data-bs-dismiss="alert"></button>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endwith %}

    <h5>Notifications</h5>
    <ul class="list-group">
        {% for notif in notifs %}
            <li class="list-group-item">
                <!-- <a href="/view_item/{{ notif.item_id }}" style="text-decoration: none;">{{ notif.content }}</a> -->
                <a href="/view_notif?notif_id={{ notif.id }}&&item_id={{ notif.item_id }}" style="text-decoration: none;">{{ notif.content }}</a>
                <br>
                <small class="text-muted small">{{ notif.date }}</small>
                &nbsp;&nbsp;
                {% if notif.read == 0 %}
                    <small class="text-muted small">Unread</small>
                {% endif %}
            </li>
        {% endfor %}
    </ul>

</div>

{% endblock %}